@page
@model AccountModel
@{
    ViewData["Title"] = "Account";
}
@section Scripts
{
  
}

<div class="text-center container">
    <div class="row">
        <p>
            Account info for @User.Identity.Name
        </p>
    </div>
</div>
