@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center container">
    <div class="row justify-content-md-center">
        <p class="col-md-4">
            @Model.InspirationalQuote
        </p>
    </div>
</div>
