@page
@model DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}
@section Scripts
{
    <script src="~/js/dashboard.js"></script>
}

<div class="text-center container">
    <div class="row">
        <button id="scheduleDeliveries" class="btn btn-primary">
            Schedule Deliveries
        </button>
    </div>
    <div class="row">
        <p>TODO: Current delivery schedule</p>
    </div>
</div>
